@import './reset.css';

body {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

main {
  max-width: 50ch;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
}

button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
