---
import BaseHead from '../components/BaseHead/BaseHead.astro'

import TrinkgeldRechner from '../components/TrinkgeldRechner/TrinkgeldRechner.ts'
import ViewSwitch from '../components/ViewSwitch/ViewSwitch.ts'
---

<html lang="de">
  <BaseHead />
  <body>
    <main>
      <h1>Trinkgeld-Rechner</h1>

      <!-- @ts-ignore -->
      <ViewSwitch client:load view1label="Rechnen" view2label="Üben">
        <TrinkgeldRechner slot="view1" client:load />
        <div slot="view2">Hello World</div>
      </ViewSwitch>
    </main>
  </body>
</html>
