---
import BaseHead from '../components/BaseHead/BaseHead.astro'

import TrinkgeldRechner from '../components/TrinkgeldRechner/TrinkgeldRechner.ts'
---

<html lang="de">
  <BaseHead />
  <body>
    <main>
      <h1>Trinkgeld-Rechner</h1>
      <TrinkgeldRechner client:load />
    </main>
  </body>
</html>
