---
import BaseHead from '../components/BaseHead/BaseHead.astro'

import TrinkgeldRechner from '../components/TrinkgeldRechner/TrinkgeldRechner.ts'
import TrinkgeldSpiel from '../components/TrinkgeldSpiel/TrinkgeldSpiel.ts'
import ViewSwitch from '../components/ViewSwitch/ViewSwitch.ts'
---

<html lang="de">
  <BaseHead />
  <body>
    <main>
      <!-- @ts-ignore -->
      <ViewSwitch client:load view1label="Rechnen" view2label="Üben">
        <div slot="view1">
          <h1>Trinkgeld-Rechner</h1>
          <TrinkgeldRechner client:load />
        </div>
        <div slot="view2">
          <h1>Trinkgeld-Spiel</h1>
          <TrinkgeldSpiel client:load />
        </div>
      </ViewSwitch>
    </main>
  </body>
</html>
